

<main class="mt-2" >
    <div id="intro" class="p-5 text-center bg-transparent">
        <h1 class="mb-3 h2">ติดต่อ/สอบถาม</h1>
    </div>
    <div class="my-5 container">
        <section class="text-center">
            <hr />
            <h4 class="my-3">ช่องทางการติดต่อ</h4>
            <img class="mb-3" src="../assets/images/contact.png" alt="contact_banner" style="width: 100%;">
            <hr class="mt-5"/>
            <h4 class="my-3">เเผนที่</h4>
            <iframe style="width: 100%; height: 400px;" src="https://maps.google.com/maps?q=%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A5%E0%B8%B1%E0%B8%A2%E0%B8%AD%E0%B8%B2%E0%B8%8A%E0%B8%B5%E0%B8%A7%E0%B8%A8%E0%B8%B6%E0%B8%81%E0%B8%A9%E0%B8%B2%E0%B9%80%E0%B8%97%E0%B8%84%E0%B9%82%E0%B8%99%E0%B9%82%E0%B8%A5%E0%B8%A2%E0%B8%B5%E0%B8%90%E0%B8%B2%E0%B8%99%E0%B8%A7%E0%B8%B4%E0%B8%97%E0%B8%A2%E0%B8%B2%E0%B8%A8%E0%B8%B2%E0%B8%AA%E0%B8%95%E0%B8%A3%E0%B9%8C(%E0%B8%8A%E0%B8%A5%E0%B8%9A%E0%B8%B8%E0%B8%A3%E0%B8%B5)%20Ban%20Kao%2013,%20Ban%20Kao,%20Phan%20Thong%20District,%20Chon%20Buri&amp;t=&amp;z=13&amp;ie=UTF8&amp;iwloc=&amp;output=embed" id="gmap_canvas" frameborder="0" scrolling="no"></iframe>
        </section>
        
        </div>
</main>

<script src="../js/scripts/contact.js"></script>


