<main class="mt-5">
    <div class="container">
        <section>
            <div class="text-center">
                <h4><strong>เเบบฟอร์มการขออณุญาติขอออกหอพัก</strong></h4>
            </div>

            <hr class="mt-5" />

            <div class="row">
              <div class="col-md-8 mb-4">
                <!--Section: Checkout form-->
                <section class="shadow-5 p-4">

                  <form>
                    <!-- Student id -->
                    <div class="form-outline mb-4">
                      <input type="text" id="input_student_id" name="input_student_id" class="form-control" autocomplete="off" disabled/>
                      <!-- <label class="form-label" for="input_student_id" style="margin-left: 0px">เลขประจำตัวนักเรียน / นักศึกษา</label> -->
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Student id -->
                    <!-- Prefix -->
                    <div class="form-outline mb-4">
                      <input type="text" id="input_prefix" name="input_prefix" class="form-control" autocomplete="off" disabled/>
                      <!-- <label class="form-label" for="input_prefix" style="margin-left: 0px">คำนำหน้า</label> -->
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Prefix -->
                    <!-- Name and last name -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_name" name="input_name" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_name" style="margin-left: 0px">ชิ่อจริง</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_lastname" name="input_lastname" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_lastname" style="margin-left: 0px">นามสกุล</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Name and last name -->
                    <!-- Year Level And Branch And Phonenumber -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_year_level" name="input_year_level" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_year_level" style="margin-left: 0px">ระดับชั้น</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_reg_type" name="input_reg_type" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_reg_type" style="margin-left: 0px">สาขางาน</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_phone_number" name="input_phone_number" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_phone_number" style="margin-left: 0px">เบอร์โทรศัพท์</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Year Level And Branch And Phonenumber -->
                    <!-- Room number and dorm number -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_room_number" name="input_room_number" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_room_number" style="margin-left: 0px">หอที่</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_dorm_number" name="input_dorm_number" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_dorm_number" style="margin-left: 0px">ห้องที่</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Room number and dorm number -->
                    <!-- Parent Phone number -->
                    <div class="form-outline mb-4">
                      <input type="text" id="input_parent_phone_number" name="input_parent_phone_number" class="form-control" autocomplete="off"/>
                      <label class="form-label" for="input_parent_phone_number" style="margin-left: 0px">เบอร์โทรศัพท์ผู้ปกครอง</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Parent Phone number -->
                    <!-- Reason for leaving dorm -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="input_reason" name="input_reason" rows="3"></textarea>
                      <label class="form-label" for="input_reason" style="margin-left: 0px">เหตุผลของการขอออกหอพัก</label>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 131.2px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 131.2px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Reason for leaving dorm -->
                    <!-- leave Date and time -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_leave_date" name="input_leave_date" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_leave_date" style="margin-left: 0px">จะออกในวันที่</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_leave_time" name="input_leave_time" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_leave_time" style="margin-left: 0px">เวลา</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- leave Date and time -->
                    <!-- come Date and time -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_come_date" name="input_come_date" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_come_date" style="margin-left: 0px">จะเข้าในวันที่</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_come_time" name="input_come_time" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_come_time" style="margin-left: 0px">เวลา</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- come Date and time -->
                    <!-- total leave and travel by -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_total_leave" name="input_total_leave" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_total_leave" style="margin-left: 0px">รวมเป็นเวลา(วัน)</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_travel_by" name="input_travel_by" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_travel_by" style="margin-left: 0px">เดินทางโดย</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- total leave and travel by -->
                    <!-- Parent Name and last name -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_parent_name" name="input_parent_name" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_parent_name" style="margin-left: 0px">ชิ่อจริง(ผู้ปกครอง)</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_parent_lastname" name="input_parent_lastname" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="input_parent_lastname" style="margin-left: 0px">นามสกุล(ผู้ปกครอง)</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="form6Example2" class="form-control" autocomplete="off"/>
                          <label class="form-label" for="form6Example2" style="margin-left: 0px">เบอร์โทรศัพท์(ผู้ปกครอง)</label>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Parent Name and last name -->
                    <!-- Upload file -->
                    <div class="form-file mb-4">
                      <input type="file" name="upload_image" class="form-control" id="upload_image" />
                    </div>
                    <!-- Upload file -->
                   

                    

                  

                    <!-- Checkbox -->
                    <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked=""/>
                      <label class="form-check-label" for="form6Example8">กดๆ ไปเถอะ</label>
                    </div>

                    <!-- Submit button -->
                    <button type="button" id="form_submit_btn" class="btn btn-primary btn-block mb-4">ยืนยัน</button>
                  </form>
                </section>
                <!--Section: Checkout form-->
              </div>


<!--------------------------------------------------------------------------------------------------------------------------------------------------------  -->




              <div class="col-md-4 mb-4">
                <!--Section: Summary-->
                <section>
                  <button type="button" class="btn btn-warning btn-block mb-4">
                    เช็คข้อมูล
                  </button>

                  <div class="card">
                    <div class="card-header bg-white text-center py-3">
                      <h5 class="mb-0 fw-bold">สรุปข้อมูล</h5>
                    </div>

                    <div class="card-body">
                      <ul>
                        <li><strong>ข้อมูล 1: </strong>zaza</li>
                        <li><strong>ข้อมูล 2: </strong>zazaza</li>
                        <li><strong>ข้อมูล 2: </strong>za</li>
                      </ul>
                    </div>

                    <div
                      class="card-footer bg-white d-flex justify-content-between py-3"
                    >
                      <strong>ครบถ้วน : </strong>
                      <strong>✅</strong>
                    </div>
                  </div>
                </section>
                <!--Section: Summary-->
              </div>
            </div>
        </section>
    </div>
</main>


<script>
  const input_student_prefix = document.getElementById("input_prefix");
  const input_student_name = document.getElementById("input_name");
  const input_student_lastname = document.getElementById("input_lastname");
  const input_student_reg_type = document.getElementById("input_reg_type");

  const input_year_level = document.getElementById("input_year_level");
  const input_student_dorm_number = document.getElementById("input_dorm_number");
  const input_student_room_number = document.getElementById("input_room_number");
  const input_student_phone_number = document.getElementById("input_phone_number");
  const input_student_id = document.getElementById("input_student_id");
  const input_leave_date = document.getElementById("input_leave_date");
  const input_leave_time = document.getElementById("input_leave_time");
  const input_leave_for = document.getElementById("input_reason");
  const input_come_date = document.getElementById("input_come_date");
  const input_come_time = document.getElementById("input_come_time");
  const input_leave_total = document.getElementById("input_total_leave");
  const input_travel_by = document.getElementById("input_travel_by");
  const input_parent_name = document.getElementById("input_parent_name");
  const input_parent_lastname = document.getElementById("input_parent_lastname");
  const input_parent_phone_number = document.getElementById("input_parent_phone_number");

  const input_file = document.getElementById("upload_image");

  (async function(){
    axios.get("https://sbtvc-das-api.nonlnwza.xyz/api/users/65202910002").then(response =>{
      if(response.data.status === "FAIL"){
        return console.error("[FORM-PAGE] Can't fetch student data from API");
      }

      input_student_id.value = response.data.data.results[0].student_id;
      input_student_prefix.value = response.data.data.results[0].student_prefix;
      input_student_name.value = response.data.data.results[0].student_name;
      input_student_lastname.value = response.data.data.results[0].student_lastname;
      input_student_reg_type.value = response.data.data.results[0].student_reg_type;
    });
  })();
</script>