

<swiper-container class="mt-5" pagination="true" pagination-dynamic-bullets="true" pagination-clickable="true" navigation="false" space-between="10" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide><img src="../assets/images/banners/sbtvc-das-banner.png"></swiper-slide>
    <swiper-slide><img src="../assets/images/banners/1.png" height="50%"></swiper-slide>
    <swiper-slide><img src="../assets/images/banners/2.png" alt=""></swiper-slide>
    <swiper-slide><img src="../assets/images/banners/3.png" alt=""></swiper-slide>
</swiper-container>


<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Content-->
        <section class="text-center">

            <hr class="my-5" />

            <h2 class=""><strong>หอพักนักเรียน / นักศึกษา </strong></h2>
            <h5 class="text-muted mb-5"><strong>ฐานวิทยาศาสตร์ เเละ พรี่เมี่ยม </strong></h5>

        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="mb-5">
            <h4 class="mb-5 text-center"><strong>สถานที่ในหอพัก</strong></h4>

            <swiper-container class="mySwiper" pagination="false" slides-per-view="3" space-between="5" autoplay-delay="2500" autoplay-disable-on-interaction="false" loop="true">
                <swiper-slide><img src="/assets/images/places/all_dorm.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/basket_ball_court.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/dorm_canteen.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/fasai_shop.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/first_dorm.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/fixit_center.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/second_dorm.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/thanvit_shop.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/third_dorm.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="/assets/images/places/top_all_dorm.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
            </swiper-container>
        </section>
        <!--Section: Content-->
    </div>
</main>
<!--Main layout-->