<!-- Carousel wrapper -->
<!-- <div id="introCarousel" class="mt-5 carousel slide carousel-fade shadow-2-strong" data-mdb-ride="carousel">

    <ol class="carousel-indicators">
    <li data-mdb-target="#introCarousel" data-mdb-slide-to="0" class="active"></li>
    <li data-mdb-target="#introCarousel" data-mdb-slide-to="1"></li>
    <li data-mdb-target="#introCarousel" data-mdb-slide-to="2"></li>
    </ol>


    <div class="carousel-inner rounded">

        <div class="carousel-item active ">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
            </div>
        </div>


        <div class="carousel-item">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
                <div class="d-flex justify-content-center align-items-center h-100">
                </div>
            </div>
        </div>

        <div class="carousel-item">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.1);">
                <div class="d-flex justify-content-center align-items-center h-100">
                </div>
            </div>
        </div>
    </div>

    <a class="carousel-control-prev" href="#introCarousel" role="button" data-mdb-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#introCarousel" role="button" data-mdb-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
    </a>
</div> -->




<swiper-container class="mt-5" pagination="true" pagination-dynamic-bullets="true" pagination-clickable="true" navigation="false" space-between="10" autoplay-delay="2500" autoplay-disable-on-interaction="false">
    <swiper-slide><img src="../assets/images/banners/1.png" height="50%"></swiper-slide>
    <swiper-slide><img src="../assets/images/banners/2.png" alt=""></swiper-slide>
    <swiper-slide><img src="../assets/images/banners/3.png" alt=""></swiper-slide>
</swiper-container>


<!--Main layout-->
<main class="mt-5">
    <div class="container">

        <!--Section: Content-->
        <section class="text-center">

            <hr class="my-5" />

            <h2 class=""><strong>หอพักนักเรียน / นักศึกษา </strong></h2>
            <h5 class="text-muted mb-5"><strong>ฐานวิทยาศาสตร์ เเละ พรี่เมี่ยม </strong></h5>

            <hr class="my-5" />

            <h4 class="my-5"><strong>สถานที่หลักๆในหอพัก</strong></h4>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/184.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>โรงอาหาร</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/023.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>สนามหญ้า</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>สนามบาสเกตบอล</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>(ร้านพี่เงาะ)</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>Thanvit Shop</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>Fix-it Centre</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-4">
                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                        <img
                            src="https://mdbootstrap.com/img/new/standard/nature/111.jpg"
                            class="img-fluid"
                        />
                        <a href="#!">
                            <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
                        </a>
                        </div>
                        <div class="card-body">
                        <h5 class="card-title"><strong>ห้องครูหอพัก (ใต้หอ 3)</strong></h5>
                        <!-- <p class="card-text">
                            Some quick example text to build on the card title and make up the bulk of the
                            card's content.
                        </p>
                        <a href="#!" class="btn btn-primary">Button</a> -->
                        </div>
                    </div>
                </div>
            </div>

        </section>
        <!--Section: Content-->

        <hr class="my-5" />

        <!--Section: Content-->
        <section class="mb-5">
            <h4 class="mb-5 text-center"><strong>กิจกรรมภายในหอพัก</strong></h4>

            <swiper-container class="mySwiper" pagination="false" slides-per-view="3" space-between="5" autoplay-delay="2500" autoplay-disable-on-interaction="false" loop="true">
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
                <swiper-slide><img src="https://mdbootstrap.com/img/new/standard/nature/184.jpg" style="border-radius: 10px;" alt=""></swiper-slide>
            </swiper-container>
        </section>
        <!--Section: Content-->
    </div>
</main>
<!--Main layout-->