<main class="mt-5">
    <div class="container">
        <section>
            <div class="text-center">
                <h4><strong>เเบบฟอร์มการขออณุญาติขอออกหอพัก</strong></h4>
            </div>

            <hr class="mt-5" />

            <div class="row">
              <div class="col-md-8 mb-4">
                <!--Section: Checkout form-->
                <section class="shadow-5 p-4">

                  <form id="request_leave_form" method="post">
                    <!-- Student id -->
                    <div class="form-outline mb-4">
                      <input type="text" id="input_student_id" name="input_student_id" class="form-control" autocomplete="off" disabled/>
                      <!-- <label class="form-label" for="input_student_id" style="margin-left: 0px">เลขประจำตัวนักเรียน / นักศึกษา</label> -->
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Student id -->
                    <!-- Prefix -->
                    <div class="form-outline mb-4">
                      <input type="text" id="input_prefix" name="input_prefix" class="form-control" autocomplete="off" disabled/>
                      <!-- <label class="form-label" for="input_prefix" style="margin-left: 0px">คำนำหน้า</label> -->
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Prefix -->
                    <!-- Name and last name -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_name" name="input_name" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_name" style="margin-left: 0px">ชิ่อจริง</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_lastname" name="input_lastname" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_lastname" style="margin-left: 0px">นามสกุล</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Name and last name -->
                    <!-- Year Level And Branch And Phonenumber -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_year_level" name="input_year_level" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_year_level" style="margin-left: 0px">ระดับชั้น</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_reg_type" name="input_reg_type" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_reg_type" style="margin-left: 0px">สาขางาน</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_phone_number" name="input_phone_number" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_phone_number" style="margin-left: 0px">เบอร์โทรศัพท์</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Year Level And Branch And Phonenumber -->
                    <!-- Room number and dorm number -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_room_number" name="input_room_number" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_room_number" style="margin-left: 0px">หอที่</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_dorm_number" name="input_dorm_number" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_dorm_number" style="margin-left: 0px">ห้องที่</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Room number and dorm number -->
                    <!-- Parent Phone number -->
                    <div class="form-outline mb-4">
                      <input type="text" id="input_parent_phone_number" name="input_parent_phone_number" class="form-control" autocomplete="off" disabled/>
                      <!-- <label class="form-label" for="input_parent_phone_number" style="margin-left: 0px">เบอร์โทรศัพท์ผู้ปกครอง</label> -->
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 98.4px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Parent Phone number -->
                    <!-- Reason for leaving dorm -->
                    <div class="form-outline mb-4">
                      <textarea class="form-control" id="input_reason" name="input_reason" rows="3" disabled></textarea>
                      <!-- <label class="form-label" for="input_reason" style="margin-left: 0px">เหตุผลของการขอออกหอพัก</label> -->
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 131.2px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                      <div class="form-notch">
                        <div class="form-notch-leading" style="width: 9px"></div>
                        <div class="form-notch-middle" style="width: 131.2px"></div>
                        <div class="form-notch-trailing"></div>
                      </div>
                    </div>
                    <!-- Reason for leaving dorm -->
                    <!-- leave Date and time -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_leave_date" name="input_leave_date" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_leave_date" style="margin-left: 0px">จะออกในวันที่</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_leave_time" name="input_leave_time" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_leave_time" style="margin-left: 0px">เวลา</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- leave Date and time -->
                    <!-- come Date and time -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_come_date" name="input_come_date" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_come_date" style="margin-left: 0px">จะเข้าในวันที่</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_come_time" name="input_come_time" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_come_time" style="margin-left: 0px">เวลา</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- come Date and time -->
                    <!-- total leave and travel by -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_total_leave" name="input_total_leave" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_total_leave" style="margin-left: 0px">รวมเป็นเวลา(วัน)</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_travel_by" name="input_travel_by" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_travel_by" style="margin-left: 0px">เดินทางโดย</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- total leave and travel by -->
                    <!-- Parent Name and last name -->
                    <div class="row mb-4">
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_parent_name" name="input_parent_name" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_parent_name" style="margin-left: 0px">ชิ่อจริง(ผู้ปกครอง)</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68.8px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                      <div class="col">
                        <div class="form-outline">
                          <input type="text" id="input_parent_lastname" name="input_parent_lastname" class="form-control" autocomplete="off" disabled/>
                          <!-- <label class="form-label" for="input_parent_lastname" style="margin-left: 0px">นามสกุล(ผู้ปกครอง)</label> -->
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                          <div class="form-notch">
                            <div class="form-notch-leading" style="width: 9px"></div>
                            <div class="form-notch-middle" style="width: 68px"></div>
                            <div class="form-notch-trailing"></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <!-- Parent Name and last name -->
                    <!-- Upload file -->
                    <div class="form-file mb-4">
                      <input type="text" name="input_upload_image" class="form-control" id="input_upload_image" disabled/>
                    </div>
                    <!-- Upload file -->
                   

                    

                  

                    <!-- Checkbox -->
                    <!-- <div class="form-check d-flex justify-content-center mb-4">
                      <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked=""/>
                      <label class="form-check-label" for="form6Example8">กดๆ ไปเถอะ</label>
                    </div> -->

                    <!-- auth back in button -->
                    <button type="button" id="form_backin_btn" class="btn btn-primary btn-block mb-4" disabled>ยืนยันเข้าหอ</button>
                  </form>
                </section>
                <!--Section: Checkout form-->
              </div>


<!--------------------------------------------------------------------------------------------------------------------------------------------------------  -->




              <div class="col-md-4 mb-4">
                <!--Section: status-->
                <section>
                  <button type="button" id="form_status_btn" class="btn btn-warning btn-block mb-4">
                    เช็คสถานะ
                  </button>

                  <div class="card">
                    <div class="card-header bg-white text-center py-3">
                      <h5 class="mb-0 fw-bold">สถานะ</h5>
                    </div>

                    <div class="card-body">
                      <ul>
                        <li><strong>อนุมัติ : </strong><span id="status_allow"></span></li>
                        <li><strong>ยืนยันสถานที่ (ออก) : </strong><span id="status_auth_leave"></span></li>
                        <li><strong>ยืนยันสถานที่ (เข้า) : </strong><span id="status_auth_come"></span></li>
                      </ul>
                    </div>

                    <!-- <div class="card-footer bg-white d-flex justify-content-between py-3">
                      <strong>ความครบถ้วน : </strong><span id="recheck_check_imoji">❌</span>
                    </div> -->
                  </div>
                </section>
                <!--Section: Status-->
                <!-- Section: QRCODE -->
                <section>
                  <button type="button" id="qr_request_btn" class="btn btn-warning btn-block mb-4">
                    ขอ QR Code
                  </button>

                  <div class="card">
                    <div class="card-header bg-white text-center py-3">
                      <h5 class="mb-0 fw-bold" id="qr_title">QRCODE</h5>
                    </div>

                    <div class="card-body">
                      <img class="mx-auto d-block" src="" alt="" id="qr_img">
                    </div>
                  </div>
                </section>
                <!-- Section: QRCODE -->
              </div>
            </div>
        </section>
    </div>
</main>


<script> 
  // get data from server side
  const student_id = "<%= session.student_id %>";
</script>

<script type="text/javascript" src="../js/scripts/current_form_page.js"></script>